* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	color: #666666;
	background-color: #eaeaea;
	font-size: 16px;
	font-weight: 400;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 60px;
	text-shadow:chartreuse;
	color: darkgreen;
	margin: 2%;
}

h1,
h6 {
	text-align: center;
}

h6{
	margin: 1%;
}

p {
	max-width: 800px;
	width: 70%;
	margin: auto;
}

main {
	max-width: 800px;
	width: 80%;
	margin: auto;
	padding: 40px;
}

.formulario, select {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}

.formulario__label, select {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input,
select {
	position: relative;
}

.formulario__input, select {
	width: 100%;
	background: #fff;
	color: #666666;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus, select:focus {
	border: 3px solid #568e11;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

select,
.formulario__enviar-mail, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: 1;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: auto;
	width: 40%;
	padding: 2%;
	background: #568e11;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validación ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #119200;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	
	.formulario__btn {
		width: 100%;
	}
}